@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato");
body, html {
  font-family: Lato, sans-serif;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

.landing {
  height: 100vh;
  /* background: linear-gradient(rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)), url(../img/landing.jpg);  */
  background-size: cover;
  background-position: center center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.75fr 4fr 2fr;
      grid-template-rows: 0.75fr 4fr 2fr;
  grid-gap: 10px;
      grid-template-areas: "top" "center" "bottom";
  color: white;
}

.landing .main_svg {
  width: 100%;
  display: absolute;
  bottom: 0;
}

.landing .nav_bar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  -ms-flex-item-align: center;
      align-self: center;
      justify-self: stretch;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 0 45px;
}

.landing .nav_bar #logo {
  float: left;
}

.landing .nav_bar nav {
  float: right;
}

.landing .main_bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  justify-items: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-line-pack: end;
      align-content: end;
  padding: 35px;
}

.landing .main_bar h1 {
  margin-bottom: 5px;
}

.landing .main_bar .subtitle {
  font-weight: 200;
  margin-left: 25px;
  font-size: 1rem;
}

.landing .main_bar .buttons {
  margin-top: 100px;
}

.landing .main_bar .cta {
  padding: 20px 40px;
  background-color: #8C827A;
  border-radius: 5%;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.landing .main_bar .cta:hover {
  background-color: #665446;
}

.landing .main_bar a:hover {
  text-decoration: none;
}

.landing .bottom_bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .bottom_bar .nav_cta {
  width: 50px;
  height: 50px;
}

#services {
  height: 70vh;
  background-color: #868482;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2.5fr;
      grid-template-rows: 1fr 2.5fr;
  grid-gap: 10px;
      grid-template-areas: "top" "bottom";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .title {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10%;
  margin-top: 4%;
}

#services #cards {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 15%;
}

#services #cards div {
  margin: auto;
}

#services #cards * {
  text-align: center;
}

#services #cards .card {
  width: 400px;
  height: 400px;
  background-color: lightgrey;
  margin: 2%;
}

#services #cards #img1 {
  width: 128px;
  height: 128px;
  background: url(../img/a.svg);
}

#services #cards #img2 {
  width: 128px;
  height: 128px;
  background: url(../img/2.svg);
}

#services #cards #img3 {
  width: 128px;
  height: 128px;
  background: url(../img/3.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

#services #cards #img4 {
  width: 128px;
  height: 128px;
  background: url(../img/4.svg);
}

#work {
  background: #A4A4A4;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */